
.participants {
    list-style-type: none;
}

@media screen and (min-width: 767px) {
    .participants {
        column-count: 2;
        column-gap: 10px;
    }
}

.participant input[type="checkbox"]:checked + label {
    font-weight: lighter;
    color: var(--disabled-fg);
}

.participant {
    margin: 2px;
}

.participant > label {
    margin: 5px;
    
    /* add a little space between the checkbox and the label */
    padding: 0 0 0 0.25em;
}

.participant > label:hover {
    background-color: var(--highlight-bg);
    color: var(--highlight-fg);
    font-weight: bold;
}

.participant-name {
    font-weight: normal;
    color: black;
    font-size: 1.5em;
}

.departments {
    box-sizing: border-box;
}

.department {
    margin: 5px;
}

.marked-out {
    text-decoration: line-through;
    color: var(--disabled-fg);
    font-weight: lighter;
}
