.meeting {
    /* display: grid; */
    grid-template-columns: var(--grid-template-columns);
    grid-template-areas: var(--grid-template-areas);
}

.meeting__header {
    /* grid-area: meeting__header; */
    position: sticky;
    top: 0;
    min-height: 70px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

.meeting__header h1, p {
    margin: 0;
    padding: 0;
}

.meeting__header h1 {
    font-size: 2em;
}

.meeting__content-left {
    grid-area: meeting__content-left;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
}

.meeting__content-right {
    grid-area: meeting__content-right;
    background-color: var(--secondary-bg);
    color: var(--secondary-fg);
}

.meeting__footer {
    grid-area: meeting__footer;
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

#meeting-notes {
    height: 100%;
    width: 100%;
    background-color: rgb(31, 31, 31);
    color: rgb(219, 219, 219);
}