.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(97, 97, 97, 0.8);
}

.modal__dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgray;
    width: auto;
}

.modal__header {
    background-color: var(--primary-bg);
    color: var(--primary-fg);
}

.modal__header h3 {
    margin: 0;
    text-align: center;
}

.modal__content {
    padding: 10px 1em 10px 1em;
    background-color: var(--secondary-bg);
    width: 100%;
}

.modal__content label {
    display: block;
}

.modal__content input {
    max-width: 95%;
}

.modal__field {
    padding: 0 0 10px 0;
}