@import 'variables.css';
@import 'meeting.css';
@import 'menu.css';
@import 'modal.css';
@import 'attendees.css';

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--secondary-bg);
}

img {
    width: 100%;
}

progress {
    width: 90%;
}

.hidden {
    display: none;
}
