@import 'variables.css';
@import 'meeting.css';
@import 'menu.css';
@import 'modal.css';
@import 'attendees.css';

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--secondary-bg);
}

img {
    width: 100%;
}

progress {
    height: 1.25em;
    width: 98%;
    margin: 0 0 5px 0;
}

progress:not([value])  {
    display: none;
}

.hidden {
    display: none;
}
